.selects {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 40px;
  width: -webkit-fill-available;
}

.data-total-month {
  display: flex;
  justify-content: space-evenly;
  top: 20px;
  button {
    padding: 2px 20px;
    border: 1px solid;
    border-radius: 3px;
  }
}
